@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}
 
nav{
    background: white;
    height: 80px;
    width: 100%;
}



nav .logo-img {
  margin-top: 0;
  padding-top: 0;
  height: 110px;
  width: 110px;
  vertical-align: middle; /* align logo image vertically */
}

nav .logo {
  line-height: 80px; /* align company name vertically */
  display: inline-block; /* display company name inline with logo image */
}

nav ul{
  float: right;
  margin-right:20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  display: inline-block;
  font-size:20px;
  padding: 5px 15px;
  color: black;
}

nav a:hover{
  color:rgb(128, 255, 212);
  transition: .05s ease;
}


.side-bar{
    position: fixed;
    top: 0;
    width:100%;
    height: 100vh;
    max-width: none;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color:rgba(255, 255, 255, 0.2);
    margin-left: 80%;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display:none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

.side-bar li{
  width: 100%;
}

.side-bar a{
  width: 100%;
}

.menu-button{
  display: none;
}


.banner{
 
  margin: auto;
  margin: 100px 0 100px 0;
  background-color:#135085;
  color:#37C9EF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px 30px 10px;
}

.banner p{
  text-align: center;
  text-decoration: none;
  margin-bottom: 5px;
}

.banner h2, .banner h3{
  line-height: 1.5;
  text-transform: uppercase;
  color: black;
  margin-bottom: 15px;
}


.banner ul li{
  line-height: 1.5;
  text-align: center;
  font-size: 17px;
  margin-bottom: 5px;
}


.about-us-title h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
}


.about-us-title h1::after{
    content: " ";
    display: block; 
    width: 200px;
    height: 2px;
    background-color: white;
    margin:auto;
}


.about-us-img1{
    width: 100%;
    padding-top: 0px;
    height: 75vh;
    background-image: url(./img/DOMESTIC\ VIOLENCE.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 auto;
    filter: blur(5px);
}


.about-us-div{
    width: 85%;
    display: flex;
    filter: blur(1.5);
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
    background-color: #fefefe;
}




.about-info{
    background-color: white;
    border: 2px aquamarine;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    border-radius: 10px;

}


.about-info:hover{
    background-color: rgb(193, 192, 192);
    color: white;
    transition: 0.4s ease;
}


.about-info h2{
    color:#135085;
    font-size: 20px;
    margin-bottom: 17px;
    text-transform: uppercase;
}

.about-info h3{
    color:#135085;
    font-size: 20px;
    margin-bottom: 14px;

}

.about-info p{
    font-size: 17px;
    margin-bottom: 10px;
    line-height: 1.6;
    color: black;
}



.about-info .button{
    font-size: 15px;
    text-decoration: none;
    color: rgb(98, 179, 179);  
    padding: 8px 12px;
    background-color: black;
    border-radius: 8px;
}

.about-info .button:hover{
    background-color: rgb(53, 51, 51);
    transition: 0.4s ease;
}


.hr{
  height: 3px;
  color: #135085;
  border: 2px solid #000000;
}


.values{
  width: 70%;
  margin-left: 15%;
  align-self: center;
  border-radius: 10px;
  margin-top: 50px;
  background-color: #135085;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 50px;
}


.values h3{
  color: #37C9EF;
  font-size: 25px;
  margin-bottom: 15px;
}


.values .ul .li{
  text-decoration: none;
  font-size:27px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;

}


.founder-div{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color:white;
  margin: auto;
  margin-top: 0px;
  padding-bottom: 20px;

  
 
}

.founder-img {
  max-width: 300px;
  float: left;
  border-radius: 2px ;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin-top: 0px;
  margin-right:15px;
}


.text{
  color: black;
  max-width: 500px;
}

.text h2{
  font-size: 36px;
  margin-bottom: 10px;
}

.text p{
  font-size: 17px;
}



 
/* Beginning of Footer*/
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
  width: 33.33%; /* Set each column to take up one-third of the row */
  padding: 0 15px;
  margin-bottom: 30px; /* Ensure there's space between rows on smaller screens */
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color:aquamarine;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col p {
  font-size: 16px; /* Makes the font size readable */
  color: #bbbbbb; /* Uses a softer color to match the footer */
  line-height: 1.6; /* Adds some line height for better spacing */
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/* End of Footer*/


/* Responsiveness*/
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
  .logo img{
    display: block;
  }
  .footer-col{
    width: 50%;
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
    right: -100%; /* Fully hides it off-screen */
  }
  .footer-col{
    width: 100%;
}}}


@media(max-width:1500px){
  .about-us-div{
      display: flex;
      flex-direction: column;
  }

  .about-info{
      width:85%;
      display: flex;
      margin: 20px 0px;
  }
}

@media(max-width: 445px){
  .founder-div{
      min-height: 30vh;
      display: flex;
      flex-direction: column;
  }

}

@media(max-width: 250px){
  .founder-div{
      width: 25%;
      min-height: 30vh;
  }

}