@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.split-screen{
    height: 100vh;
    display: flex;
    justify-content: flex-start;

}

.split-screen .left{
    float: left;
    width: 50%;
    background-image: url('./img/contact.jpg');
    background-size: cover; /* Add this to ensure the image covers the entire div */
    height: 100vh; 
    position: relative;
    min-height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.left .content{
    max-width:800px;
    text-align: center;
}

.left .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}


.left .content p{
    font-weight: 300;
    color: #fff;
}




.contact-contain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}


.contact-contain .contactinfo{
    display: flex;
    flex-direction: column;
}

.contact-contain .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact-contain .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}


.contact-contain .contactinfo .box .contact-text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-size: 300;
}



.contact-contain .contactinfo .box .contact-text h3{
    font-weight: 500;
    color: #86EAE9;
}















.split-screen .right{
    background-color: #86EAE9;
    float: left;
    width: 50%;
}


.login{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;

}

.form-box{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 128px rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}


.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.form-box .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .field-input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;

}

.btn{
    height: 35px;
    background: #135085;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
    
}

.btn:hover{
    opacity: 0.82;
}


.submit{
    width: 100%;
}

.signup-link{
    margin-bottom: 15px;
}

.signup-link a{
    color: #5a9c9b;
}


@media(max-width: 990px){

    .split-screen .left{
    padding: 50px;
    }
    .contact-contain{
    flex-direction: column;
    }
    .contact-contain .contactinfo {
    margin-bottom: 40px;
    }
    .container .contactinfo{
        width: 100%;
    }

}
